.Popup {
  max-width: em(552px);
  @include iftablet {
    max-width: em(453px);
  }
  @include ifmobile {
    max-width: 100%;
  }

  .Title {
    display: inline-flex;
    margin-bottom: em(6px);
    @include ifmobile {
      margin-bottom: em(16px);
    }
  }

  .Amount {
    margin: em(10px) 0 em(8px);
    @include ifmobile {
      margin: em(8px) 0 em(8px);
    }
  }

  .CalculateAmount {
    margin-bottom: em(16px, 14px);
    @include ifmobile {
      margin-bottom: em(25px, 14px);
    }
  }

  .SelectMonths {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include ifmobile {
      flex-direction: column;
      align-items: start;
    }
    &_Label {
      margin-right: em(38px);
      @include ifmobile {
        margin-right: 0;
        margin-bottom: em(16px);
      }
    }

    &_Value {
      display: flex;
      flex-direction: row;
      align-items: center;
      label:not(:last-child) {
        margin-right: em(8px);
      }
      @include ifmobile {
      }
    }
  }

  .SelectPeriod {
    margin: em(22px) 0 em(31px);
    @include ifmobile {
      margin: em(16px) 0 em(26px);
    }
    &_Label {
      margin-bottom: em(11px);
      @include ifmobile {
        margin-bottom: em(16px);
      }
    }
    &_Value {
      display: flex;
      flex-direction: row;
      align-items: center;
      label:not(:last-child) {
        margin-right: em(8px);
      }
      @include ifmobile {
      }
    }
  }

  .TotalPrice {
    &_Value {
      font-weight: 400;
      font-size: em(24px);
      line-height: 100%;
      color: #000;
      @include ifmobile {
        font-size: em(20px);
      }
    }
  }

  .Add {
    width: 100%;
    margin-top: em(47px);
    @include ifmobile {
      margin-top: auto;
    }
  }
}
