.Button {
  // global
  @extend %button;
  width: max-content;
  border-radius: em(6px);
  transition: all 0.5s ease;
  // text
  color: #fff;
  font-family: 'Lab Grotesque', sans-serif;
  font-weight: 500;
  text-align: center;
  font-style: normal;

  &_default {
    $size: 16px;
    line-height: em($size);
    height: em(56px, $size);
    padding: em(16px, $size) em(32px, $size);
    font-size: em($size);
    @include ifmobile {
      $size: 12px;
      line-height: em($size);
      height: em(40px, $size);
      padding: em(12px, $size) em(30px, $size);
      font-size: em($size);
    }
  }

  &_small {
    $size: 12px;
    height: em(40px, $size);
    padding: em(12px, $size) em(30px, $size);
    font-size: em($size);
    line-height: em($size);
  }

  &:focus-visible {
    border: 1px solid black;
  }
}

//default
.Button_Variant_default {
  &_default {
    box-shadow: 0 0 24px 0 rgba(234, 0, 41, 0.33);
    background: #ff5e56
      linear-gradient(232deg, #dc3131 0%, rgba(255, 79, 79, 0) 93.23%);

    @media (hover: hover) {
      &:hover {
        background: #ea0029
          linear-gradient(232deg, #ea0029 0%, rgba(234, 0, 41, 0) 93.23%);
      }
    }

    @media (hover: none) {
      &:active {
        background: #ea0029
          linear-gradient(232deg, #ea0029 0%, rgba(234, 0, 41, 0) 93.23%);
      }
    }
  }

  // &_secondary {
  //   background: #934fa8;

  //   @media (hover: hover) {
  //     &:hover {
  //       background: darken(#934fa8, 10%);
  //     }
  //   }

  //   @media (hover: none) {
  //     &:active {
  //       background: darken(#934fa8, 10%);
  //     }
  //   }
  // }

  // &_success {
  //   background: #13de4c;

  //   @media (hover: hover) {
  //     &:hover {
  //       background: darken(#13de4c, 10%);
  //     }
  //   }

  //   @media (hover: none) {
  //     &:active {
  //       background: darken(#13de4c, 10%);
  //     }
  //   }
  // }

  // &_error {
  //   background: #ff0004;

  //   @media (hover: hover) {
  //     &:hover {
  //       background: darken(#ff0004, 10%);
  //     }
  //   }

  //   @media (hover: none) {
  //     &:active {
  //       background: darken(#ff0004, 10%);
  //     }
  //   }
  // }
}

//outlined
.Button_Variant_outlined {
  &_default {
    border: 1px solid #fff;
    background: none;
    color: #fff;

    @media (hover: hover) {
      &:hover {
        background: #fff;
        color: #000;
      }
    }

    @media (hover: none) {
      &:active {
        background: #fff;
        color: #000;
      }
    }
  }

  // &_secondary {
  //   border: 1px solid #934fa8;
  //   background: none;
  //   color: #934fa8;

  //   @media (hover: hover) {
  //     &:hover {
  //       border: 1px solid darken(#934fa8, 10%);
  //       background: darken(#934fa8, 10%);
  //       color: #fff;
  //     }
  //   }

  //   @media (hover: none) {
  //     &:active {
  //       border: 1px solid darken(#934fa8, 10%);
  //       background: darken(#934fa8, 10%);
  //       color: #fff;
  //     }
  //   }
  // }

  // &_success {
  //   border: 1px solid #13de4c;
  //   background: none;
  //   color: #13de4c;

  //   @media (hover: hover) {
  //     &:hover {
  //       border: 1px solid darken(#13de4c, 10%);
  //       background: darken(#13de4c, 10%);
  //       color: #fff;
  //     }
  //   }

  //   @media (hover: none) {
  //     &:active {
  //       border: 1px solid darken(#13de4c, 10%);
  //       background: darken(#13de4c, 10%);
  //       color: #fff;
  //     }
  //   }
  // }

  // &_error {
  //   border: 1px solid #ff0004;
  //   background: none;
  //   color: #ff0004;

  //   @media (hover: hover) {
  //     &:hover {
  //       border: 1px solid darken(#ff0004, 10%);
  //       background: darken(#ff0004, 10%);
  //       color: #fff;
  //     }
  //   }

  //   @media (hover: none) {
  //     &:active {
  //       border: 1px solid darken(#ff0004, 10%);
  //       background: darken(#ff0004, 10%);
  //       color: #fff;
  //     }
  //   }
  // }
}

// link
.Button_Variant_link {
  background: none;
  color: #2a86ff;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    transform: scale(1);
  }

  // @media (hover: hover) {
  //   &:hover {
  //     text-decoration: underline;
  //   }
  // }
  // @media (hover: none) {
  //   &:active {
  //     transform: scale(1);
  //   }
  // }
}

//text
.Button_Variant_text {
  &_default {
    color: #ea0029;
    background: none;
    padding: 0;
    height: auto;
    line-height: 171%;

    @media (hover: hover) {
      &:hover {
        color: #f53a31;
      }
      &:active {
        color: #ea0029;
      }
    }

    @media (hover: none) {
      &:active {
        color: #ea0029;
      }
    }
  }
}

//disabled style
.Button:disabled,
.Button:disabled:hover,
.Button:disabled:active {
  background: #bec5cc;
  cursor: not-allowed !important;
  pointer-events: none !important;
  box-shadow: none;
  border-color: #bec5cc;
}

@media (hover: hover) {
}
@media (hover: none) {
}
