.BaseInput {
  font-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  &_Wrapper {
    position: relative;

    .Label {
      user-select: none;
      position: absolute;
      z-index: 1;
      pointer-events: none;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      transform-origin: left top;
      transition: all $speed ease;

      span {
        font-family: 'Lab Grotesque', sans-serif;
        font-size: em(16px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #7b7b7b;
      }

      &__NoEmpty {
        transform: translate(0, em(-22px)) scale(0.8);
      }
    }

    .Input {
      width: 100%;
      height: em(56px);
      padding: em(24px) 0 em(8px);
      outline: none;
      border: none;
      position: relative;
      box-shadow: none;
      transition: $speed ease all;
      border-bottom: 1px solid #cfcfcf;
      background: none;

      color: #000;
      font-family: 'Lab Grotesque', sans-serif;
      font-size: em(16px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @include placeholder-color(transparent);

      &::-webkit-contacts-auto-fill-button {
        opacity: 0;
      }
    }

    .Icon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: em(24px);
      height: em(24px);
      path {
        transition: stroke $speed ease;
      }
      &:hover {
        path {
          stroke: #2a86ff;
        }
      }
    }

    &:hover {
      .Input {
        border-color: #2a86ff;
      }
    }
  }

  &__Focus {
    .BaseInput_Wrapper {
      .Input {
        border-color: #2a86ff;
      }
    }
    .Label {
      transform: translate(0, em(-22px)) scale(0.8);
    }
  }

  &__Error {
    .BaseInput_Wrapper {
      .Input {
        border-color: #ff4747;
      }
    }

    .BaseInput_ErrorText {
      margin-top: em(5px);
      p {
        color: #ff4747;
        font-family: 'Lab Grotesque', sans-serif;
        font-size: em(12px);
        font-weight: 400;
      }
    }
  }

  &__WithIcon {
    .Input {
      padding-right: em(30px);
    }
  }

  &_Checkbox {
    position: absolute;
    font-size: 0;
    width: 0;
    height: 0;
    padding: 0;
    border: 0;
    outline: 0;
    opacity: 0;
    z-index: -1;
  }

  &__Disabled,
  &__Disabled:hover,
  &__Disabled:focus {
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;

    .BaseInput_Wrapper {
      .Input {
        opacity: 0.4;
      }
    }

    .Label {
      span {
        opacity: 0.6;
      }
    }
  }
}
