.BaseInput {
  position: relative;
  display: flex;
  flex-direction: column;

  &_Label {
    display: block;
    $size: 14px;
    font-family: 'Lab Grotesque', sans-serif;
    font-size: em($size);
    font-style: normal;
    font-weight: 500;
    line-height: 171%;
    color: #000;
    user-select: none;
    pointer-events: none;
    margin-bottom: em(8px, $size);
  }

  &_Wrapper {
    position: relative;

    .Input {
      $size: 14px;
      width: 100%;
      height: em(40px, $size);
      padding: em(8px, $size) em(10px, $size);
      outline: none;
      border: none;
      position: relative;
      box-shadow: none;
      transition: $speed ease all;
      background: none;
      border: 1px solid #dfe3e6;
      border-radius: em(3px, $size);

      font-family: 'Lab Grotesque', sans-serif;
      font-weight: 400;
      font-size: em($size);
      line-height: 171%;
      color: #000;
      @include placeholder-color(#bec5cc);

      &::-webkit-contacts-auto-fill-button {
        opacity: 0;
      }
      &:hover {
        border-color: #000;
      }
    }

    .PasswordCheckbox {
      position: absolute;
      font-size: 0;
      width: 0;
      height: 0;
      padding: 0;
      border: 0;
      outline: 0;
      opacity: 0;
      z-index: -1;
      &:focus-visible + svg path {
        stroke: #ff5e56;
      }
    }

    .PasswordIcon {
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: em(10px);
      transform: translate(0%, -50%);
      width: em(20px);
      height: em(20px);
      path {
        transition: stroke $speed ease;
      }
      &:hover {
        path {
          stroke: #ff5e56;
        }
      }
    }
  }

  &_ErrorText {
    margin-top: em(4px);
    p {
      color: #ea0029;
      font-family: 'Lab Grotesque', sans-serif;
      font-size: em(10px);
      font-weight: 400;
      line-height: 120%;
    }
  }

  &__Focus {
    .BaseInput_Wrapper {
      .Input {
        border-color: #dfe3e6;
      }
    }
  }

  &__Error {
    .BaseInput_Wrapper {
      .Input {
        border-color: #ea0029;
      }
    }
  }

  &__WithIcon {
    .Input {
      padding-right: em(50px);
    }
  }

  &__Disabled,
  &__Disabled:hover,
  &__Disabled:focus {
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;

    .BaseInput_Wrapper {
      .Input {
        border-color: #808080;
        color: #808080;
        @include placeholder-color(#808080);
      }
    }
  }
}
